* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}
.bg-primary-light{
  background-color: #a3c7fa;
  opacity: 0.8;
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 30px 15px;
}

/* THEMES */
.light {
  background-image: url("./images/bgimgtodo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
}

/* Dark Theme */
.dark {
  background-image: url("./images/darkbgtodo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

/* CARDS */
.card {
  background: rgba(255,255,255,0.9);
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: fadeIn 0.4s ease;
}

.dark .card {
  background: #111827;
}

/* BUTTONS */
.btn {
  border-radius: 6px;
  padding: 6px 12px;
  margin-right: 6px;
  transition: 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  position: sticky;
  bottom: 0;
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 10px;
}

/* ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}
